
body{
    background-image: url('images/pic6.jpg');
}

p{
    color: white;
}

#first{
    font-size: 75Px;
    margin-left: 350px;
    color: white;
}

#second{
    font-size: 75px;
    margin-left: 150px;
    margin-top: -150px;
    margin-bottom: 120px;
    color: white;
}

.register{
    font-family: "Roboto" , sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: red;
    width: 200px; 
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    align-items: center;
    margin-left: 450px;
}
