
body{
    background-image: url('images/pic3.jpg');
}

h1{
    font-size: 70px;
    padding-left: 400px;
}

#ff{
    height: 418px;
    width: 525px;
    background-color: rgb(124, 124, 71);
    margin-left: 330px;
    margin-top: 70px;
}

select{
    padding: 15px;    padding: 15px;

    margin-left: 20px;
    margin-top: 40px;
}


#date{
  padding: 15px 33px; 
  margin-left: 20px;
  margin-top: 40px;
  
}

#time{
    padding: 15px; 
    margin-left: 20px;
    margin-top: 40px;
    
  }

.jj{
    padding: 15px;
    margin-top: 40px;
    margin-left: 27px;
}

textarea{
    padding: 15px;
    margin-top: 40px;
    margin-left: 27px;
}

.ap{
    font-family: "Roboto" , sans-serif;
    text-transform: uppercase; 
    outline: 0;
    background: deeppink;
    width: 200px;
    border: 0;
    padding: 20px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 200px;  
    margin-top: 45px;
    margin-left: 150px;
}     text-decoration: none;
